<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gb">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gb"
        tools:targetApi="31">

        <!-- Новая стартовая активность (выбор режима) -->
        <activity
            android:name=".SelectModeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Основная активность (теперь ручной режим) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Активность автоматического режима -->
        <activity
            android:name=".AutoModeActivity"
            android:exported="false" />

        <!-- Диалоговые окна (если они объявлены как Activity) -->
        <activity
            android:name=".BGInputDialogFragment"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:exported="false" />
        <activity
            android:name=".ParameterInputDialogFragment"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:exported="false" />
        <activity
            android:name=".BolusCalculationDialogFragment"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:exported="false" />
    </application>

</manifest>